#ignore all generated and database files
**/db/**
**/output_files/**
**/*.sopcinfo
**/*.qws
**/*.hex
**/*.o
**/*.a
**/*.summary
**/*.asm
**/*.rpt
**/*.smsg
**/*.sof
**/

**/incremental_db/**
**/proc_?/**
**/synthesis/**
**/proc_toplevel/**
