#ignore all generated and database files
**/db/**
**/output_files/**
**/*.sopcinfo
**/*.qws
**/*.hex
**/*.o
**/*.a
**/*.summary
**/*.asm
**/*.rpt
**/*.smsg
**/*.sof
**/*.nlv
**/*.jdi
**/*.smsg
**/*.html
**/*.cdf
**/*.sld

#folders
**/incremental_db/**
**/proc_*/**
**/synthesis/**
**/proc_toplevel/**
